{{#each notes as |note|}}
 <!-- Temolate structure of db -->
  <h3 data-id="{{note.id}}" class="all-notes"> Title: {{note.title}}</br><small>Date Created: {{note.date}}</small>
  </br><small>User Name: <a href="mailto:{{note.user.email}}?subject=Note with a title: {{note.title}}">{{note.user.email}}</a></small></h3>

  <div data-id="{{note.id}}" class="public_bloc">
    <p class="public-content">{{#if note.note_content}}
      {{note.note_content}}
    {{else}}
      No notes provided.
    {{/if}}</p>
  </div>

{{/each}}
